/* main */

@media (max-width: 680px) {
    .main {
        position: relative;
        padding-bottom: 55px;
    }
}

.page {
    padding-top: 94px;
    flex: 1 1 auto;

    @media (max-width: 820px) {
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
    }

    @media (max-width: 480px) {

        padding-top: 60px;

    }
}



.page__wrapper {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 1180px) {
        margin: 0 15px;
    }

    @media (max-width: 720px) {
        display: block;
    }
}


.page__title {
    color: #E4E5EA;
    font-family: 'Inter';
    gap: 10px;

    @media (max-width: 720px) {
        margin: 0 auto;
    }

}


.page__title-head {
    margin: 0;
    font-size: 48px;
    font-weight: 400;

    & span {
        font-weight: 900;
        background: -webkit-linear-gradient(0deg, #FCB045, #FF3F78);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    @media (max-width: 720px) {
        font-size: 36px;
    }
}


@media (max-width: 720px) {
    .page__title span {
        font-size: 36px;
    }
}

.page__title {
    max-width: 362px;
}

@media (max-width: 720px) {
    .page__title {
        max-width: 320px;
    }
}

.page__title-description {
    max-width: 275px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 480px) {
        margin-top: 13px;
    }
}

.page__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

@media (max-width: 720px) {
    .page__info {
        align-items: start;
        margin: 0 auto;
        max-width: 320px;
    }
}

.page__info-title {
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    max-width: 291px;
    text-align: end;

    @media (max-width: 720px) {
        text-align: start;
        color: var(--light-text, #E4E5EA);
        font-family: "Inter";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    @media (max-width: 480px) {
        margin-top: 27px;
        margin-bottom: 5px;
    }
}


.page__info-title span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.page__info-title :first-child {
    background: #FCB146;
    background: var(--gradient, linear-gradient(90deg, #FCB045 -18.01%, #FD1D1D 100%));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 720px) {
        background: var(--gradient, linear-gradient(90deg, #FCB045 4.99%, #FD1D1D 160%));
        background-clip: text;
    }
}

.page__info-title-consultation {
    background: rgb(252, 177, 70);
    background: linear-gradient(45deg, rgba(252, 177, 70, 1) 38%, rgba(253, 108, 30, 1) 100%);

    @media (max-width: 720px) {
        background: var(--gradient, linear-gradient(90deg, #FCB045 65.99%, #FD1D1D 160%));
    }
}

@media (max-width: 720px) {
    .page__info-title span {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: lowercase;
    }
}



.page__info-content {
    display: grid;
    justify-content: end;
    text-align: end;
    grid-template-columns: repeat(2, 135px);
    grid-template-rows: repeat(2, 98px);
    grid-column-gap: 30px;
    color: var(--light-text, #E4E5EA);
    margin-top: 20px;

    @media (max-width: 720px) {
        display: none;
    }
}


.page__info-content p {
    margin: 0;
    margin-top: 6px;
}

.page__info-content .title {
    color: var(--light-text, #E4E5EA);
    text-align: right;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.page__info-content .description {
    color: #E4E5EA;
    text-align: right;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.page__info-content-mobile {
    display: none;
}

@media (max-width: 720px) {
    .page__info-content-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 11px;
        color: var(--light-text, #E4E5EA);
        font-family: "Montserrat";
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.65px;
        text-transform: uppercase;
    }

    .page__info-content-mobile>div {
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .page__info-content-mobile p {
        margin: 0;
    }

    .page__info-content-mobile p {
        &:before {
            content: url(../img/Line.svg);
            text-align: center;
            vertical-align: super;
            margin-right: 5px;
        }
    }
}


.page__info-btn {
    width: 262px;
    height: 61px;
    background-color: #4077F3;
    color: #E4E5EA;
    border: 0;
    margin-top: 35px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;

    @media (max-width: 720px) {
        display: none;
    }
}

.background {
    position: absolute;
    z-index: -10;
}